.is-layout-flex {
    display: flex;
    flex-wrap: wrap;
}

.is-content-justification-space-between {
    justify-content: space-between;
}

.is-content-justification-right {
    justify-content: flex-end;
}

.wp-block-group.is-layout-flex {
    align-items: center;
}